<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>PollApp</title>
  
</head>

<body>
  <h1 th:text="${user.getUserData().getLogin()} + ', '+ &{info}"></h1> <br/>
  <a href="logout">Logout</a>

</body>

</html>
