<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <div style="text-align: center;">
        <h1 th:text="${info}"></h1>
        <form method="post" action="/login" th:object="${loginForm}">
            <input type="text" th:field="*{login}" placeholder="Login"> <br/>
            <input type="password" th:field="*{password}" placeholder="password"> <br/>
            <input type="submit" value="Login">
        </form>
    </div>

</body>
</html>