<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <div style="text-align: center;">
        <h1 th:text="${info}"></h1>
            <form method="post" action="register" th:object="${registerForm}">
                <input type="text" th:field="*{login}" placeholder="Login"> <br/>
                <input type="password" th:field="*{password}" placeholder="Password"> <br/>
                <input type="text" th:field="*{email}" placeholder="ëmail address"> <br/>
                <input type="submit" value="register">
            </form>

    </div>

</body>
</html>